$skin-color: #1b7a9f;

body.dark {
  $bg-black-900: #151515;
  $bg-black-100: #222222;
  $bg-black-50: #393939;
  $text-black-900: #ffffff;
  $text-black-700: #e9e9e9;
}
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}

.text-three-dot{
  white-space: nowrap;
  text-overflow: ellipse;
  overflow: hidden;
}