.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100vh;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 1rem;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-height: 60px;

    a {
      text-decoration: none;
      color: #333;
    }
  }

  .footer-container {
    padding: 1rem;
    margin-bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-height: 60px;
  }
  .main-container {
    height: 100vh;

    .card {
      padding: 8px 16px !important;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .banner-top-container {
      .title-page {
        color: #fff !important;
        background-color: #1b7a9f !important;
        text-align: center !important;
        font-size: 24px;
        margin: 10px 0;
        padding: 16px;
      }
    }

    .home-container {
      .stats-area {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        background-color: #f4f4f4;

        .discussion {
          .stat-name {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }

          .stat-details {
            font-size: 1.2rem;
            margin-bottom: 1rem;

            .button-tag {
              border: 1px solid #1b7a9f !important;
            }
          }
        }
      }
    }

    .login-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0 auto;
      padding: 20px;

      .login-title {
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        padding-top: 2em;
      }
      .lead {
        text-align: center;
        font-size: 15px;
        padding-top: 10px;
      }

      input {
        padding: 10px 7px;
        outline: none;
        background-color: #1618230f;
        border: #1618230f;
        margin-bottom: 7px;
        border-radius: 3px;
        width: 100%;

        &:hover {
          background-color: #dedede;
        }
      }

      .input-password {
        position: relative;

        i {
          position: absolute;
          top: 15px;
          right: 15px;
        }
      }
      button {
        margin-top: 15px;
        padding: 10px;
        border-radius: 3px;
        outline: none;
        border: none;

        &.active {
          background-color: #fe2c55;
          color: white;
        }

        button[disabled="disabled"],
        button:disabled {
          cursor: not-allowed;
        }
      }
      .btn-facebook {
        background-color: #4285f4;
        color: white;
      }
      .btn-google {
        background-color: #fe2c55;
        color: white;
      }
      .back {
        text-align: center;
        margin-top: 30px;
        cursor: pointer;
      }
    }

    .discussion-container {
      .pagination {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
