button {
	margin-left: 10px;
	padding: 0;
	background: none;
	background-color: rgba(0, 0, 0, 0);
	height: max-content;
	width: max-content;
	border: 0;
	outline: 0;
	.fa-pencil {
		color: rgb(255, 194, 81);
	}
	.fa-trash-can {
		color: rgb(255, 96, 72);
	}

	&:hover {
		background: none;
	}
}
